body {

    min-height: 100vh;
    background-color: #darkgrey;

    /* Allow canvas to hit the edges of the browser viewport. */
    margin: 0;
    padding: 0;
}
.footer {
   margin-bottom: 10px;

}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#screen canvas {
  padding: 0;
  margin: 0;
  display: block;
}

